!!! 5
%html(lang="en")
  %head
    %title 
      Markdownie - watching #{Markdownie.dir}
      = @dir
    %meta(charset="utf-8")
    %link(rel="stylesheet" href="/css/screen.css")
    %script(src="#{Markdownie.install_path} + '/js/jquery-1.4.2.min.js}")
  %body
    #wrapper
      = yield
