!!! 5
%html(lang="en")
  %head
    %title 
      Markdownie - watching #{Markdownie.dir}
      = @dir
    %meta(charset="utf-8")
    %link(rel="stylesheet" href="/css/screen.css")
    %script(src="/jquery-1.4.2.min.js")
    %script(src="/markdownie.js")
  %body
    #wrapper
      = yield